/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2021, 1:35:01 AM
    Author     : student
*/

/* Class styling -------------------------------------------------------------*/
.button{
    -fx-background-color: transparent;
}

.button:hover{
    -fx-underline: true;
}

/* Elements within top navigation bar ----------------------------------------*/
#topPanel{
    -fx-background-color: linear-gradient(to bottom, #E6E6E6 60%, #FFFFFF);
}

#mensTopBtn{
    -fx-font-family: Verdana;
    -fx-font-size: 30px;
}

#womensTopBtn{
    -fx-font-family: Verdana;
    -fx-font-size: 30px;
}

#kidsTopBtn{
    -fx-font-family: Verdana;
    -fx-font-size: 30px;
}

#loginBtn:hover{
    -fx-underline: false;
    /*-fx-font-weight: bold;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
}

#accountIconImg:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#searchBar{
    /*Prompt text will be displayed unless user enters text */
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

/* Elements within main section ----------------------------------------------*/
#mensMainLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 40px;
}

#womensMainLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 40px;
}

#kidsMainLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 40px;
}

/* Elements within bottom footer bar -----------------------------------------*/
#bottomPanel{
    -fx-background-color: linear-gradient(to top, #E6E6E6 20%, #FFFFFF);
}

#enterEmailTextField{
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

