/*
 * CSS styling specific to elements present on the Homepage window.
 *
 * Created on : 29/04/2021, 1:35:01 AM
 * Author     : Lakshan Martin
 */

/* GENERAL CLASS STYLING -----------------------------------------------------*/
.button{
    -fx-background-color: transparent;
    -fx-font-family: Verdana;
    -fx-font-size: 40px;
    -fx-cursor: hand;
}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.button:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.9), 10, 0, 0, 0);
}

.tooltip{
    -fx-font-family: default;
    -fx-font-size: 11px;
}
