/*
 * Empty Stylesheet file.
 */

/* Class Styling -------------------------------------------------------------*/
.toggle-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: grey;
}

.toggle-button:hover{
    -fx-background-color: #787878, white;
    -fx-background-insets: 0, 0 0 0 10;
}

.toggle-button:selected{
    -fx-background-color: #787878, white;
    -fx-background-insets: 0, 0 0 0 10;
}

.tooltip{
    -fx-font-family: default;
    -fx-font-weight: normal;
    -fx-font-size: 11px;
}

.hyperlink{
    -fx-text-fill: black;
}

.hyperlink:hover{
    -fx-font-weight: bold;
}

.hyperlink:pressed{
    -fx-font-weight: normal;
}

.scroll-bar{
    -fx-background-color: white;
}

.scroll-bar:vertical .track{
    -fx-background-color: white;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #E6E6E6;
}

.button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* Elements in Main Section --------------------------------------------------*/
#discountTxtField{
    -fx-background-radius: 0;
}


#addDiscountBtn{
    -fx-background-color: #4D4D4D;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#addDiscountBtn:pressed{
    -fx-background-color: #787878;
    -fx-text-fill: white;
}

#line{
    -fx-stroke-width: 0.15px;
}

#checkoutBtn{
    -fx-background-color: #4D4D4D;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

#checkoutBtn:pressed{
    -fx-background-color: #787878;
    -fx-text-fill: white;
}

#flowPane > .button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

#flowPane > .button:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.9), 10, 0, 0, 0);
}

#gridPane > .button{
    -fx-font-size: 16px;
}

#gridPane > .button:hover{
    -fx-underline: true;
}

#gridPane > .button:pressed{
    -fx-underline: false;
}

#qtyBtn > .button{
    -fx-border-color: grey;
    -fx-opacity: 0.5;
}

#qtyBtn > .button:hover{
   -fx-opacity: 1;
}

#qtyBtn > .button:pressed{
   -fx-opacity: 0.5;
}

#qtyBtn > #qtyTxtField{
    -fx-background-radius: 0;
}